body {
  margin: 0;
  font-family: 'Finger Paint', cursive;
  font-family: 'Handlee', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2D2D2D;
  ;
}

code {
 font-family: 'Finger Paint', cursive;
font-family: 'Handlee', cursive;
}
.totalTable h1 {
  color: red;
  font-size: 50px;
  margin-top: 5rem;
}
.totalTable h2, span {
  color: white;
  font-size: 50px;
  margin-top: 3rem; 
}
.totalTable span{
  border: 2px solid #fff;
  width: 200px;
  padding: 20px 30px 20px 30px;
  border-radius: 50px;
}
.circles {
  margin-top: 9rem;
  pad: 20px;
}
.circle2 {
 margin-left: 15rem;
}
